@use "../../sass/_variables.scss" as *;

@font-face {
  font-family: "AvantGarde";
  src: url("../../assets/AvantGarde-Bold.otf");
}

.OurServices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;

  &__h2 {
    color: #070c4b;
    font-family: "AvantGarde", sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 27px;
  }

  &__p {
    color: $text;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 66px;
    margin-right: 60px;
  }

  &__check-line {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__checked {
    margin-right: 14px;

    &-p {
      color: $text;
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      font-weight: 500;
    }
  }
}
