@use "../../sass/_variables.scss" as *;

@font-face {
  font-family: "AvantGarde";
  src: url("./assets/AvantGarde-Bold.otf");
}

.Reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
  padding: 51px 139px 61px 101px;
  background-color: #fff6ef;
  border-radius: 150px;
  margin-top: 160px;

  &__h2 {
    color: $brand-color;
    font-family: "AvantGarde", sans-serif;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 33px;
  }

  &__p {
    color: $text;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
}
