@use "../../sass/_variables.scss" as *;

@font-face {
  font-family: "AvantGarde";
  src: url("./assets/AvantGarde-Bold.otf");
}

.Navbar {
  z-index: 200;
  top: 0;
  background-color: $background-color;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0px;
  color: $brand-color;
  padding-bottom: 24px;
  padding-top: 24px;
  padding: 24px 200px;
  border-bottom: 2px solid $brand-color;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.05));

  &__logo-text {
    font-family: "AvantGarde", sans-serif;
    color: $brand-color;
    font-size: 36px;
  }

  &__links {
    &-list {
      list-style: none;
      display: flex;
      color: $brand-color;
    }

    &-item {
      position: relative;
      cursor: pointer;
      &:not(:first-child) {
        margin-left: 66px;
      }
      transition: all 0.3s ease-in-out;
    }

    &-item:hover {
      transform: translateY(-2px);
      color: $brand-color;
    }
    &-item:hover::after {
      content: "";
      width: 40%;
      height: 2px;
      background-color: $brand-color;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
    &-item.active::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $brand-color;
      position: absolute;
      bottom: -4px;
      left: 0px;
    }
  }

  &__links-link {
    color: $brand-color;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  &__signup {
    display: flex;
    align-items: center;
    color: $brand-color;

    &-icon {
      margin-left: 12px;
      width: 21px;
      height: 21px;
    }

    transition: all 0.3s;
  }

  &__signup:hover {
    transform: translateY(-2px);
  }
}
